{% extends 'partials/base.html' %}
{% block content %}
{% include 'partials/navbar.html' %}
<br>

<center>
{% for message in messages %}
<div class="alert alert-success" role="alert">
{{message}}
</div>
{% endfor %}
</center>
<div class="row ">
    {% if request.user.is_authenticated %}
    <h2>Tous les nouveaux films</h2>
    {%endif%}
  
    {% for film in film %}
    {% if request.user.is_authenticated  %}
  

    <div class="col-md-6">
<div class="card" style="width: -18rem;">
    <div class="col-md-4">

    <img src="{{ film.afficher.image.url }}" class="card-img-top" alt="{{ film.image}}">
    </div>
    <div class="card-body mt-2">
      <h5 class="card-title">{{film.titre}} By {{film.realisateurs}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">Date:{{film.date_sortie}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Categorie:{{film.categorie}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">Pays:{{film.film_nationalite}}</h6>
      <a href="{% url 'commentaire' film.id %}" class="card-link">Commenter</a>
      <a href="{% url 'voir_commentaire' film.id %}" class="card-link">Voir commentaires</a>
      {% if  user.is_superuser %}
      <a href="{% url 'editDirecteur' film.id %}" class="card-link">Modifier le directeur</a>
        <a href="{% url 'editFilm' film.id %}" class="card-link">Modifier le film</a><br>
        <a href="{% url 'suprimer' film.id %}" class="card-link">Suprimer le film</a>

        {%endif%}
        </div>
    </div>
  </div>
  
  {%endif%}
{% endfor %}
</div>





</div><br><br>

{% endblock%}