/*@import url('https://fonts.google.com/specimen/Alumni+Sans+Pinstripe');*/
body{
	margin:auto;
	padding:auto;
 
}

.content{
	width:100%;
	background-image:url("168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf681.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	height:30em;
	padding:0px;
	margin:0px;
	position:relative;
	bottom:23px;
}

.menu{ /*can put background-color on black bescause of logo so i chose gray*/
	background-color:rgba(30,30,30);
	display:inline-block;
	margin:0px;
	padding:0px;
}
.gold{
	color:gold;
	font-size:125%;
}
.red{
	color:red;
}
.flow{
	display:block;
	position:relative;
	text-align:justify;
	top:50px;
	left:1px
	
}
.Title{
	text-align:center;
	width:50%;
	font-size:13px;
	margin:0px;
	font-family:" Alumni Sans Pinstripe";
}
.nav{
	width:80%;
}
nav{
	display:inline-block;
	float:right;
	padding-top:23px;
	padding-right:20px;
}
p{
	color:white;
}
ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
li{

	float:right;
}
footer>a{
	text-decoration:none;
	font-size:20px;
	color:white;
}
.text{
	width:40%;
	margin:0px;
}
li a{
	display:block;
	text-align:center;
	color:white;
	text-decoration:none;
	font-size:23px;
	padding-left:20px;
	padding-bottom:0px;
	justify-content:center;
	margin:auto;
	text-align:center;
}
li a:hover{
	background-color:gray;
}
footer{
	margin:auto;
	position:relative;
	bottom:50px;
	background-color:rgba(30,30,30);
	text-align:center;
	color:white;
	padding-bottom:2%;
}
