/*@import url('https://fonts.google.com/specimen/Alumni+Sans+Pinstripe');*/
body{
	margin:auto;
	padding:auto;

 
}

.content{
	width:100%;
	background-image:url("168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf681.jpg");
	background-repeat: no-repeat;
	background-size:cover;
	padding:0px;
	margin:0px;
	position:relative;
	bottom:23px;
}

.menu{ /*can put background-color on black bescause of logo so i chose gray*/
	background-color:rgba(30,30,30);
	display:inline-block;
	margin:0px;
	padding:0px;
}
.gold{
	color:gold;
	font-size:125%;
}
.red{
	color:red;
}
.flow{
	display:block;
	position:relative;
	text-align:justify;
	top:50px;
	left:1px;
	
}
.Title{
	text-align:center;
	width:50%;
	font-size:13px;
	margin:0px;
	font-family:" Alumni Sans Pinstripe";
}
.nav{
	width:80%;
}
.cl{
	font-family:'satisfy' serif;
	font-weight:bold;
	font-size:40px;
	color:black;

}
nav{
	display:inline-block;
	float:right;
	padding-top:23px;
	padding-right:20px;
}
p{
	color:white;
}
ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
li{

	float:right;
}
footer>a{
	text-decoration:none;
	font-size:20px;
	color:white;
}
.text{
	width:40%;
	margin:0px;
}
li a{
	display:block;
	text-align:center;
	color:white;
	text-decoration:none;
	font-size:23px;
	padding-left:20px;
	padding-bottom:0px;
	justify-content:center;
	margin:auto;
	text-align:center;
}
li a:hover{
	background-color:gray;
}
footer{
	margin:auto;
	position:relative;
	bottom:50px;
	background-color:rgba(30,30,30);
	text-align:center;
	color:white;
	padding-bottom:2%;
}
		/*Media queries*/

@media all and (min-width:992px) and (orientation: landscape) {
	.menu{
		background-color:black;
		
	}
	li a{
	color:whhite;}	
	
	footer{
		background-color:black;
		color:white;
	}
}


@media all and (min-width: 768px) and (max-width:992px) and (orientation: landscape) {
	.menu{
		background-color:red;
		}
	li a{
		color:whhite;
		}	
	
	footer{
		background-color:red;
		color:white;
		}
	.flow{
		width:80%;
		display:flex;
		justify-content:center;
		}
	.text{
		width:50%;
		display:inline-block;
	}
	.title{
		width:20%;
		display:inline-block;	
		}
}

@media all and (min-width: 600px) and  (max-width: 768px) and (orientation: landscape) {
	.Title{
		font-size:25px;
	}
		.menu{
		background-color:lightgreen;
		
	}
	li a{
	color:black;}
	footer{
		background-color:lightgreen;
		color:black;
	}

 }
@media all and (min-width: 100px) and (max-width:600px) and (orientation: portrait) {
	.Title{
		font-size:25px;
	}
	.menu{
		background-color:yellow;	
	}
	li a{
	color:black;}
	footer{
		background-color:yellow;
		color:black;
	}
 }



