<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
 {% block content %}

        <h1>Liste of animal in family{{id}} </h1>
  <table border="1">

     {% for x in Animal %}
       {% if x.family_id == id %}
         <tr>
<td>{{ x.id }}</td>
<td>{{ x.name }}</td>

</tr>
       {% endif %}

     {% endfor %}


</table>
 {% endblock content %}

</body>
</html>
<table border="1">
