{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load fontawesome_5 %}
{% block link %}
{% load static %}
<link rel="style" href="{% static 'envoyer_message.css' %}">
{% endblock %}
{% block titre_message %}
<h1 class="mt-5" align="center">Dites nous en quoi nous pouvons vous aidez??</h1>
<hr class="mt-0 mb-4">
{% endblock%}


{% block message %}




    <div class="container py-5">
        <div class="row d-flex justify-content-center align-items-center">
          <div class="col">
            <div class="card my-4 shadow-3">
              <div class="row g-0">
                <div class="col-xl-6 d-xl-block bg-image">
                  <img src="Images/contacter.jpg" alt="Sample photo" style="height:529px;"
                    class="img-fluid"/>
                  <div class="mask" style="background-color: rgba(0, 0, 0, 0.6)">
                    <div class=" justify-content-center align-items-center h-100">
                      <div class=" text-center" style="margin-top: -449px;margin-left:-325px">
                        <h3 style="color:white;font-weight:bold">Nous contacter</h3>
                        <p style="position:relative;left:-39px"><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 512 512"><path fill=#6db9f0 d="M164.9 24.6c-7.7-18.6-28-28.5-47.4-23.2l-88 24C12.1 30.2 0 46 0 64C0 311.4 200.6 512 448 512c18 0 33.8-12.1 38.6-29.5l24-88c5.3-19.4-4.6-39.7-23.2-47.4l-96-40c-16.3-6.8-35.2-2.1-46.3 11.6L304.7 368C234.3 334.7 177.3 277.7 144 207.3L193.3 167c13.7-11.2 18.4-30 11.6-46.3l-40-96z"/></svg></p>

                        <p class="text-white" >+1(718)123-4567</p><br>
                       <p style="position:relative;left:-39px"><svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 384 512"><path fill=#6db9f0  d="M215.7 499.2C267 435 384 279.4 384 192C384 86 298 0 192 0S0 86 0 192c0 87.4 117 243 168.3 307.2c12.3 15.3 35.1 15.3 47.4 0zM192 256c-35.3 0-64-28.7-64-64s28.7-64 64-64s64 28.7 64 64s-28.7 64-64 64z"/></svg></p>
                        <p class="text-white"  style="position:relative;left:105px">3513 John Divide Suite 115\nRodriguezside, LA 93111</p> <br>
                       <p style="position:relative;left:-39px"><svg xmlns="http://www.w3.org/2000/svg"  height="50px" viewBox="0 0 512 512"><path fill=#6db9f0 d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z"/></svg></p>
                        <p class="text-white ">torkee@gmail.com</p>
                        <p class="text-white mb-0"></p>
      
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6">
                  <div class="card-body p-md-5 text-black">
                    <h3 class="mb-4 ">Ecrivez ici</h3>
                    <form method="post" action="{% url 'envoyer_message' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}<br>
                        
                        <button type="submit" class="btn btn-primary">Envoyer</button>
                        <i class="fa-solid fa-phone"></i>
                        </form><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock%}