{% extends 'partials/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block link %}
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
{% endblock %}
{% block titre_re %}
<div align= "left">
<h2 >Mes Reservations</h2>
</div>

<hr class="mt-0 mb-4">
{% endblock%}
{% block mes_reservation %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">N chambre</th>
        <th scope="col">Date reservation</th>
        <th scope="col">Dure du sejour</th>
        <th scope="col">Nombre de personne chambre</th>
        <th scope="col">Date ariver</th>
        <th scope="col">Date de depart</th>
        <th scope="col">Prix unitaire</th>
        <th scope="col">Prix total</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for reservation in reservation %}
      <tr>
        <th scope="row">{{reservation.id}}</th>
        <td>{{reservation.date_reservation}}</td>
        <td>{{reservation.dure_sejour}}</td>
        <td>{{reservation.reservation.nombre_personne}}</td>
        <td>{{reservation.date_reservation}}</td>
        <td>---</td>
        <td>{{reservation.reservation.prix}}</td>
        <td>{{reservation.prix_total}}</td>
        <td><a href="{% url 'editer_Reservation' reservation.id %}"><button type"button" class="btn btn-primary">Modifier</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
</table><br><br><br><br>
{% endblock%}