{% extends 'partials/base.html' %}
{% load static %}
{% load has_group %}
{% load crispy_forms_tags %}  


{% block content %}
<div class="card text-bg-dark">
    <img src="Images/hote.jpg" class="card-img" alt="hotel image">
    <div class="card-img-overlay">
        {% for hotel in hotel %}
      <h5 class="card-title">{{hotel.nom}}</h5>
      <p class="card-text">{{hotel.description}}</p>
      <p class="card-text"><small>{{hotel.adresse}}</small></p>
      {% endfor %}
    </div>
  </div>

{% endblock %}
