body{
	text-align:center;
	background:url("background1.jpg");
	background-size:cover;
}
#scoreBar{
	width:100 %;
	margin-bottom:2%;
	background-color: rgba(30,30,30);
	color:  white;
}
#content{
	width:100 %;
	text-align:center;
	padding-top:1%;
	height:370px;
}
.board{
	width:60%;
	float:right;
	display:inline-block;
	font-size:25px;
	margin-top:2.2%;	

}
label{
	float:right;
}
#scoreBar>p{
	width:38%;
	font-size:25px;
	display:inline-block;
	
	border: solid lightgreen;
	margin-left: 0.9%;
}
#sidebar:hover {
  color: red;
  border: solid red 2px;
  /*! width:35%; */
}
#sidebar{
	 position: relative;
	float:left;
	width:29%;
	height:340px;
	display:inline-block;
	background-color: #1e1e1e;
	border: solid lightgreen 2px;
	color: white;
	border-radius:8px;

}
#gameCenter{
	width:70%;
	display:inline-block;
	float:right;
	height:340px;
}
.figure{
	display:inline-block;
	width:19%;
}
.figure:hover{
}
#displayImg>button{
	border-color:yellow;
	border-radius:25px;
}
#displayImg{
	background-color:rgba(255,215,0,0.2);
	margin-top:4%;
	height:100px;
	border:solid black;
	width:97%;
	border-radius:10px;
	box-shadow: 2px 2px 2px 2px black;
}
#displayFigure{
	height:200px;
	font-size:60px;
}
footer>p{
	margin-top:0%;
	border:solid lightgreen 2px;
 
}
footer>button{
 	width:45%;
	border:solid lightgreen;
	background-color:rgba(255,255,255,0.2);
	color:white;
	font-size:20px;
	border-radius:12px
}

footer{
	margin:auto;
	height:9VH;
	font-size:23px;
	bottom:50px;
	background-color:rgba(30,30,30);
	text-align:center;
	color:white;
	width:98%;
	padding-top:4%;
	padding-bottom:2%;
}
	
.blue{
	color:blue;
}
#s{
	margin-top:5%;
}














