<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    {% block script %}{% endblock script%}
    {% block link %}{% endblock%}
    <title>Document</title>
  </head>
  <body>
    {% block nav %} 
    {% endblock%}

        {% block content %}
        {% endblock%}
    <center>
        {% block connection %}
        {% endblock %}

       
              {% block titre_image %}{% endblock%}
              {% block image %}{% endblock%}
            
    </center>
      {% block footer %}
      {% include 'partials/footer.html' %}
        {% endblock%}

  </body>
</html>
