body{
	font-family:'verdana' serif;
	width:88%;
	position:relative;
	top:40%;
	height:100vh;
	margin:auto;
	padding:auto;
}
.main{
	margin:100px;
	text-align:center;
	width:60%;
        height:450px;	
	padding:30px 15px 20px 15px;
	box-shadow:0px 18px 14px black,
		   0px 10px 10px black;

}

.left{
	display:inline-block;

	width:45%;
        height:450px;	

}
.right{
	position:relative;
	bottom:150px;
	display:inline-block;
	width:45%;
	height:450px;	
	text-align:center;
	color:white;
	background: linear-gradient(to bottom right,#2d0041,#c847ff);
}
.f1{
	justify-content:center;
	text-align:center;
}
.f1>fieldset{
	border:none;
	font-weight:bold;
}
.f1>fieldset>legend{
	font-size:250%;
	color:black;
}
}

.f2{
	justify-content:center;
	text-align:center;
}
.f2>fieldset{
	border:none;
	border-top:solid silver 1px;
}
input[type="checkbox"]{
	width:4%;
	float:left;

}
input[type="submit"],button{
	background-color:#9400d3;
	color:white;
	border-color:white;
}
button{
	
}
legend{
	color:gray;
}
.fa-2x{
	color:gray;
	padding-left:5%;
	padding-top:2%;
	padding-bottom:10%;
}
.fa-4x{
	
}
a{
	text-decoration:none;
	float:right;
	font-size:110%;
	color:gray;
}
label{
	float:left;
	font-size:110%;
	color:gray;
	
}

input{
	width:98%;
	height:30px;
	font-size:18px;
	padding-left:2%;
	margin-bottom:4%;
	background-color:#FCFBFC;

}

	
